header {
  height: $header_height;
  width: 100%;
  color: $primary_color;
  line-height: 100px;
  padding: 0 20px;
  border-bottom: 2px solid #58402c;

  .logo {
    @include float_left;
    width: $header_left_element_width;

    img {
      width: 150px;
      vertical-align: middle;
    }
  }

  nav {
    @include float_left;
    text-align: right;
    width: $header_right_element_width;

    .menu {

      li {
        display: inline-block;
        margin-left: 10px;

        & a.sign-up {
          padding: 20px 10px;
          background-color: #5b70aa;
          color: $third_color;
        }
      }
    }
  }
}
