.jumbotron {
  height: 600px;
  color: $primary_color;
  @include section_main;

  .container > div {
    width: 55%;
    @include float_left;
  }

  .jumbo-img img {
    width: 100%;
  }

  div.jumbo-intro {
    width: 45%;

    h1 {
      font-size: 45px;
      margin-bottom: 20px;
      line-height: 65px;
    }

    p.subtitle {
      @include subtitle;
    }

    .btn {
      @include btn;
    }
  }


}
