main {
  width: 100%;
}

.btn {
  @include btn;
}

.before, .after {
  background-color: $secondary_color;
  text-align: center;
  @include section_main;

  .container {
    border-bottom: 1px solid $primary_color;

    h2 {
      @include h2;
    }

    .before-img {
      width: 100%;

      .left, .center,
      .right {
        @include float_left;
        width: calc(100% / 3);
        height: 300px;
        text-align: center;

        & img {
          height: 55%;
          display: block;
          margin: 0 auto 30px auto;
        }
      }

    }

     img.bef-aft {
      width: 40%;
      margin-bottom: 150px;
    }
  }
}

.after {
  .container {
    border: none;

  }
}

.quote-section {
  background-color: $secondary_color;
  @include section_main;
  text-align: center;

  .quote-box {
    background-color: white;
    width: 500px;
    padding: 20px;
    border: 1px solid $primary_color;
    margin: 0 auto;
    border-radius: 10px;
    text-align: left;
  }
}
