// Main Colors
$primary_color: #58402c;
$secondary_color: #fee7d1;
$third_color: #2c4791;

//Main width
$container_width: 1024px;
$header_left_element_width: 50%;
$header_right_element_width: 50%;

// Main height
$header_height: 100px;
