// Main Colors
$primary_color: #58402c;
$secondary_color: #fee7d1;

//Main width
$container_width: 1024px;
$header_left_element_width: 25%;
$header_right_element_width: 75%;

// Main height
$header_height: 100px;
